{% extends 'base.html' %}
{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form method="GET" action="{% url 'searchapp:search' %}">
          <!-- Form Row 1 -->
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="sr-only">Keywords</label>
              <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
            </div>

            <div class="col-md-4 mb-3">
              <label class="sr-only">City</label>
              <input type="text" name="city" class="form-control" placeholder="City">
            </div>

            <div class="col-md-4 mb-3">
              <label class="sr-only">County</label>
              <select name="state" class="form-control">
                <option selected="true" disabled="disabled">County (All)</option>
                <option value="Baringo">Baringo</option>
                <option value="Bomet">Bomet</option>
                <option value="Bungoma">Bungoma</option>
                <option value="Busia">Busia</option>
                <option value="Elgeyo Marakwet">Elgeyo Marakwet</option>
                <option value="Embu">Embu</option>
                <option value="Garissa">Garissa</option>
                <option value="Homa Bay">Homa Bay</option>
                <option value="Isiolo">Isiolo</option>
                <option value="Kajiado">Kajiado</option>
                <option value="Kakamega">Kakamega</option>
                <option value="Kericho">Kericho</option>
                <option value="Kiambu">Kiambu</option>
                <option value="Kilifi">Kilifi</option>
                <option value="Kirinyaga">Kirinyaga</option>
                <option value="Kisii">Kisii</option>
                <option value="Kisumu">Kisumu</option>
                <option value="Kitui">Kitui</option>
                <option value="Kwale">Kwale</option>
                <option value="Laikipia">Laikipia</option>
                <option value="Lamu">Lamu</option>
                <option value="Machakos">Machakos</option>
                <option value="Makueni">Makueni</option>
                <option value="Mandera">Mandera</option>
                <option value="Marsabit">Marsabit</option>
                <option value="Meru">Meru</option>
                <option value="Migori">Migori</option>
                <option value="Mombasa">Mombasa</option>
                <option value="Murang'a">Murang'a</option>
                <option value="Nairobi City">Nairobi City</option>
                <option value="Nakuru">Nakuru</option>
                <option value="Nandi">Nandi</option>
                <option value="Narok">Narok</option>
                <option value="Nyamira">Nyamira</option>
                <option value="Nyandarua">Nyandarua</option>
                <option value="Nyeri">Nyeri</option>
                <option value="Samburu">Samburu</option>
                <option value="Siaya">Siaya</option>
                <option value="Taita Taveta">Taita Taveta</option>
                <option value="Tana River">Tana River</option>
                <option value="Tharaka Nithi">Tharaka Nithi</option>
                <option value="Trans Nzoia">Trans Nzoia</option>
                <option value="Turkana">Turkana</option>
                <option value="Uasin Gishu">Uasin Gishu</option>
                <option value="Vihiga">Vihiga</option>
                <option value="Wajir">Wajir</option>
                <option value="West Pokot">West Pokot</option>
                
              </select>
            </div>
          </div>
          <!-- Form Row 2 -->
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="sr-only">Bedrooms</label>
              <select name="bedrooms" class="form-control">
                <option selected="true" disabled="disabled">Bedrooms (Any)</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
              <select name="price" class="form-control">
                <option selected="true" disabled="disabled">Max Price (All)</option>
                <option value="100000">Ksh.100,000</option>
                <option value="200000">Ksh.200,000</option>
                <option value="300000">Ksh.300,000</option>
                <option value="400000">Ksh.400,000</option>
                <option value="500000">Ksh.500,000</option>
                <option value="600000">Ksh.600,000</option>
                <option value="700000">Ksh.700,000</option>
                <option value="800000">Ksh.800,000</option>
                <option value="900000">Ksh.900,000</option>
                <option value="1000000">Ksh.1M+</option>
              </select>
            </div>
          </div>
          <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'listing:home' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'listing:listings' %}">Browse Listings</a>
        </li>
        <li class="breadcrumb-item active"> Search Results</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Listings -->
<section id="listings" class="py-4">
  <div class="container">
    <div class="row">

      <!-- Listing 1 -->
      {% for listing in listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ listing.thumb_nail.url }}" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">Ksh{{ listing.price }}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{ listing.title }} </h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }}  {{ listing.state }}, {{ listing.zipcode }}</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }} </div>
              <div class="col-6">
                <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedrooms }}</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathrooms }}</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-12">
                <i class="fas fa-user"></i> {{ listing.realtor }}</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
            </div>
            <hr>
            <a href="{{ listing.get_absolute_url }}" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}